:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

h1 {
  font-weight: 100;
  font-size: 46px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  text-shadow: 0px 0px 10px #ffffff65;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  color: #ffffffa9;
}

p {
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff9f;
  margin: 12px 0px 36px 0px;
}

#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

p b {
  border-radius: 2px;
  font-weight: 300;
  color: rgba(211, 192, 168, 0.9);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  padding: 20px;
}

.H1Container {
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 12px;
  height: auto;
}

.H1Container h1 {
  flex: 1;
}

#navigationContainer {
  padding: 12px;
}

.titlesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% + 200px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 88px;
}

.outerContiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#Section-About {
  z-index: 2;
}

#Section-Portfolio {
  z-index: 1;
}

.titlesContainer h2 {
  font-weight: 100;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  background: #03090c;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle calc(900px) at calc(50% - 80px) calc(50% + 30px),
      rgba(9, 198, 255, 0.363), transparent 70%),
    radial-gradient(circle calc(1200px) at calc(50% - 100px) calc(30% - 100px),
      rgba(255, 97, 6, 0.363), transparent 60%),
    radial-gradient(circle calc(600px) at calc(50% + 100px) calc(50% - 80px),
      rgba(7, 241, 221, 0.4), transparent 100%),
    #03090c00;
  background-size: 100% 100%;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  z-index: -2;
  background-blend-mode: screen;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle calc(1000px) at calc(50% - 200px) calc(0% + 600px),
      rgba(0, 201, 237, 0.29), #af1b1b00 70%),
    radial-gradient(circle calc(800px) at calc(50% - 200px) calc(0% + 300px),
      rgba(238, 185, 88, 0.3), transparent 70%),
    radial-gradient(circle calc(800px) at calc(50% - 800px) calc(0% + 300px),
      rgba(241, 93, 7, 0.2), transparent 100%),
    #03090c00;
  background-size: 100% 100%;
  transition: opacity 2s ease-in-out;
  opacity: 0.2;
  z-index: -2;
}

body.green::before {
  opacity: 0.5;
}

body.green::after {
  opacity: 1;
}

.FlexContainer {
  display: flex;
  width: 100%;
}

#app {
  max-width: 1100px;
  max-height: 1100px;
  height: calc(100vh - 24px);
  min-height: 300px;
  width: calc(100% - 24px);
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
  border-radius: 24px;
  display: flex;
  position: relative;
  z-index: 1;
}

#LeftContainer {
  width: 100%;
  margin-right: 12px;
  height: 100%;
  display: flex;
  flex: 3;
  position: relative;
}

#rightContainer {
  display: flex;
  flex-direction: column;
  width: 104px;
  height: 100%;
  transition: width 0.5s cubic-bezier(0.2, 0.1, 0.2, 1);
}

#rightContainer.expanded {
  width: 230px;
}

#rightContainer .icon {
  z-index: 1;
  position: absolute;
  width: 80px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
  filter: blur(0px);
  opacity: .9;
  transition: all .3s ease-in-out;
}

#rightContainer .projects {
  background-image: url(/src/Files/Vector.svg);
}

#rightContainer .aboutMe {
  background-image: url(/src/Files/AboutMe.svg);
}

#rightContainer.expanded p {
  color: #ffffffd8;
}

#rightContainer .contact {
  background-image: url(/src/Files/Contact.svg);
}

.glowBorder {
  box-shadow:
    inset 0px 0px 10px -8px rgba(255, 255, 255, .5),
    inset 0px 0px 8px -6px rgba(255, 255, 255, .5),
    0px 0px 10px -8px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.17);
}

.contentContainer {
  padding: 24px 48px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
}

.darkblurContainer {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
}

.rad24 {
  border-radius: 24px;
}

.rad20 {
  border-radius: 16px;
}

.rad16 {
  border-radius: 16px;
}

.rad14 {
  border-radius: 14px;
}

.rad12 {
  border-radius: 12px;
}

.rad8 {
  border-radius: 8px;
}

.navItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 80px;
  font-size: 18px;
  margin-bottom: 12px;
  transition: all .2s ease-in-out;
}

.navItem.outerBorder {
  border: 1px rgba(168, 238, 234, 0.2) solid;
}

.navItem:hover {
  color: white;
  text-shadow: white 0px 0px 10px;
  border: 1px solid white;
  box-shadow:
    inset 0px 0px 10px -5px rgba(255, 255, 255, 1),
    inset 0px 0px 8px -4px rgba(255, 255, 255, 1),
    0px 0px 10px -5px rgba(255, 255, 255, 1);
}

.navItem p {
  text-align: right;
  margin-right: 24px;
  flex: 1;
  margin-block-start: 0em;
  margin-block-end: 0em;
  pointer-events: none;
  color: #00000000;
  transition: all .2s ease-in-out;
}

.navItem:hover p {
  color: #ffffff;
}

.fullHeight {
  flex: 1;
  height: auto;
}

.innerBorder {
  margin: 10px;
  flex: 1;
}

.thinBorder {
  border: 1px solid rgba(168, 238, 234, 0.2);
  box-shadow:
    inset 0px 0px 10px -6px rgba(168, 238, 234, 0.5),
    0px 0px 10px -6px rgba(168, 238, 234, 0.5);
}

.outerBorder {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.ContentPic {
  float: left;
  background-size: cover;
  background-position: center;
  border-radius: 24px 24px;
  margin: 0px 24px 24px 0px;
}

.backGlow {
  box-shadow: 0px 0px 10px -5px #9efdc8ba;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.diagonal-stripes {
  background: repeating-linear-gradient(45deg,
      #ffffff10,
      #ffffff10 2px,
      #00000000 2px,
      #00000000 16px), center;
}

.diagonal-stripes.tight {
  background: repeating-linear-gradient(45deg,
      #ffffff10,
      #ffffff10 2px,
      #00000000 2px,
      #00000000 10px), center;
}

html {
  scroll-behavior: smooth;
}

.vertical-stripes {
  background: repeating-linear-gradient(90deg,
      #ffffff26,
      #ffffff00 2px,
      #00000000 2px,
      #00000000 10px), center;
}